body {
  padding-top: 0;
  margin: 0;
}

h1 {
  margin-top: 0px;
  margin-bottom: .7rem;
  font-weight: bold;
  font-size: 1.2rem;
}

html,
text {
  font-family: Arial, Helvetica, sans-serif;
}

text {
  font-size: 12px;
  font-weight: 100;
}

a {
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}
a:hover {
  text-decoration:none;
}
.zoomable {
  cursor: pointer;
}

.zoomable a:link {
  text-decoration: none;
}
.zoomnotable a {
  text-decoration: none;
}
.zoomable a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

html {
  color: black;
  background-color: white;
}
#terms{
  margin:1rem;
}
#content {
  grid-row: 3;
  grid-column: 1;
  overflow: auto;
}
#pdf {
  display: flex;
  justify-content: center;
}
#pg {
  display: grid;
  grid-template-rows:40px 1.2rem calc( 100dvh - 1.2rem - 40px );
  grid-template-columns: calc(100dvw);
}

#path{
  grid-row: 2;
  grid-column: 1;
  margin-left:.4rem;
}
#heading {
  padding-top:5px;
  grid-row: 1;
  grid-column: 1;
  gap:.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#heading svg{
  height: 36px;
}
#heading svg:hover{
  cursor: pointer;
  background-color: lightyellow;
}
#pdf_frame{
  width: 100%;
  height: calc(100dvh - 2.8rem);
  overflow: hidden;
}

